In [2]:
import pandas as pd

# Retrieve Rows by Index Label with .loc[]

In [3]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [5]:
bond.loc["Casino Royale"] # two rows --> DataFrame

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [7]:
bond.loc["A View to a Kill"] # single row --> Series

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object

In [11]:
bond.loc["Diamonds Are Forever": "Moonraker"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [13]:
bond.loc[["Diamonds Are Forever", "Moonraker", "Not in the index"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Moonraker,1979.0,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Not in the index,NaN,NaN,NaN,NaN,NaN,NaN

# 73 The Catch-All .ix[] Method : cobmines the .loc and .iloc methods
## Depricated

In [17]:
bond.ix["Moonraker"]

Year                          1979
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                     535
Budget                        91.5
Bond Actor Salary              NaN
Name: Moonraker, dtype: object

# 75 Set New Values for a Specific Cell or Row

In [18]:
bond.ix["Dr. No"]

Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [21]:
bond.ix["Dr. No", "Actor"] = "Depp" # Second Argument is the column we want to pull

In [24]:
bond.ix["Dr. No"] #parmanently changed

Year                          1962
Actor                         Depp
Director             Terence Young
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

### updating multiple columns of a row

In [26]:
bond.ix["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]]

Box Office           448.8
Budget                   7
Bond Actor Salary      0.6
Name: Dr. No, dtype: object

In [27]:
bond.ix["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] = [435, 5, 1.3]

In [28]:
bond.ix["Dr. No"]

Year                          1962
Actor                         Depp
Director             Terence Young
Box Office                     435
Budget                           5
Bond Actor Salary              1.3
Name: Dr. No, dtype: object

# 76 Set Multiple Values in DataFrame

In [4]:
mask = bond["Actor"] == "Sean Connery"

In [33]:
# The wrong way
bond[mask]["Actor"] = "Sir Sean Connery"

/home/raj/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### the above code won't work because its creating a new DataFrame

In [7]:
bond.loc[mask, "Actor"]

Film
Diamonds Are Forever     Sean Connery
Dr. No                   Sean Connery
From Russia with Love    Sean Connery
Goldfinger               Sean Connery
Never Say Never Again    Sean Connery
Thunderball              Sean Connery
You Only Live Twice      Sean Connery
Name: Actor, dtype: object

In [8]:
bond.loc[mask, "Actor"] = "Sir Sean Connery"  # permanent change

In [10]:
bond[bond["Actor"]=="Sir Sean Connery"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# 77 Rename Index Labels or Columns in a DataFrame

In [11]:
bond.rename(columns={"Year": "Release Date", "Box Office": "Revenue"}, inplace=True)

In [12]:
bond.head(2)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [14]:
bond.rename(index={"A View to a Kill": "Changing A Bond movie name"}, inplace=True)

In [15]:
bond.head(2)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
Changing A Bond movie name,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3